.swiper-container {
  height: 100%;
  width: 85vw;
  margin: 0 auto;
}

.swiper-wrapper {
}

.swiper-slide {
  
}

.swiper-button-prev,
.swiper-button-next { 
  display: none;
  @media (min-width: 1024px) {
    color: #333;
    display: block;
  }
}


/* 
.swiper-btn-prev,
.swiper-btn-next { 
  color: #333;
  position: absolute;
  font-size: 2.6rem;
}

.swiper-btn-prev {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.swiper-btn-next {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
} */