.swiper-container {
  width: 70vw;
  margin: 0 auto;
}

.swiper-wrapper {
  
}

.swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next { 
  display: none;
  @media (min-width: 1024px) {
    color: #333;
    display: block;
  }
}